<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Gokarna</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/img5.jpg') }}" alt="Gokarna" style="width: 100%;">
  <h1 style="font-size: 100px;">GOKARNA</h1>
  <p>
    Gokarna, a serene coastal town in Karnataka, India, is often celebrated for its pristine beaches and spiritual significance. It offers offbeat gems like Paradise Beach, Yana Caves, Vibhooti Falls, and Mirjan Fort.
  </p>
</body>
</html>
