<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hampi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/img7.jpg') }}" alt="Hampi" style="width: 100%;">
  <h1 style="font-size: 100px;">HAMPI</h1>
  <p>
    Hampi is a UNESCO World Heritage Site known for its ancient temples, boulder-strewn landscapes, and hidden gems like Anegundi Village, Matanga Hill, and Daroji Sloth Bear Sanctuary.
  </p>
</body>
</html>

