<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mysore</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/img9.jpg') }}" alt="Mysore" style="width: 100%;">
  <h1 style="font-size: 100px;">MYSORE</h1>
  <p>
    Mysore, Karnataka’s cultural capital, boasts the Mysore Palace, Chamundi Hills, St. Philomena's Church, and offbeat attractions like the Sand Sculpture Museum and Karanji Lake.
  </p>
</body>
</html>

