<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ramanagara</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/img8.webp') }}" alt="Ramanagara" style="width: 100%;">
  <h1 style="font-size: 100px;">RAMANAGARA</h1>
  <p>
    Ramanagara, famous as the shooting location of *Sholay*, is great for trekking and rock climbing. Visit Ramadevara Betta, Revana Siddeshwara Hills, and Kanva Reservoir.
  </p>
</body>
</html>
