<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Udupi</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
  <img src="{{ url_for('static', filename='images/img6.jpg') }}" alt="Udupi" style="width: 100%;">
  <h1 style="font-size: 100px;">UDUPI</h1>
  <p>
    Udupi, known for its Krishna temple and cuisine, offers hidden gems like St. Mary’s Island, Kapu Lighthouse, Maravanthe Beach, and Kudlu Theertha Falls for nature lovers.
  </p>
</body>
</html>
